<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<button ng-click="productEdit(product.id)">Edit</button>
   product id: {{ product.id }}<br>
   product name: {{ product.name }}<br>
   product category: {{ product.category }}<br>
   product price: {{ product.price }}<br>
   product brand: {{ product.brand }}<br>
   product color: {{ product.color }}<br>
   product image: {{ product.image }}<br>
   product type: {{ product.type }}<br>
   product count: {{ product.count }}<br>

</body>
</html>